<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>
        Notificações
      </ion-title>
    </ion-toolbar>
  </ion-header>



  <ion-list class="history-list">
    <ion-item class="card" *ngFor="let alarm of notifications" >
      <ion-label  (click)="setOpen(true, alarm)" >
        <h3>{{ alarm.daysWeek }}</h3>
        <p>a cada {{ getEveryTimeFormatted( alarm.every ) }} | {{ alarm.beginsAt }} - {{ alarm.endsAt }}</p>
      </ion-label>
      <ion-toggle></ion-toggle>
      <ion-modal #modal [isOpen]="isModalOpen" [swipeToClose]="true" [canDismiss]="canDismiss">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-title>Notificação</ion-title>
              <ion-buttons slot="start">
                <ion-button (click)="setOpen(false, alarm)">Voltar</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding">
            <ion-content class="ion-padding">
              <h2>{{ currentAlarm }}</h2>
              <ion-label>{{ currentAlarm }}</ion-label>
              <p position="stacked">{{ currentAlarm }}</p>
            <ion-button expand="block" (click)="saveAlarm()" (click)="modal.dismiss()">Salvar</ion-button>
            </ion-content>
          </ion-content>
        </ng-template>
      </ion-modal>
    
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="time-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!-- <app-explore-container name="Tab 2 page"></app-explore-container> -->
</ion-content>
