.delete-buttom {
  color: rgb(207, 85, 85)
}

.center {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
}

.history-list {
  margin-right: 2%; 
  margin-left: 2%; 
}

.consuming-status {
  top: 19.5%;
  left: 39%;
  position: absolute;
  font-size: small
}
.consuming-status-percentage {
  top: 16.5%;
  left: 45%;
  position: absolute;
  font-size: large;
}

.edit-goal-button {
  display:flex;
  margin: 10%;
  border-bottom: 1px solid grey;
}

.input-new-goal, .save-goal-button {
  margin-top: 15px;
}

ion-icon {
  font-size: 30px;
}